$font-default: "Dosis", sans-serif;
$font-caveat: "Caveat", cursive;
$font-chakra: "Chakra Petch", sans-serif;
$font-permanent: "Permanent Marker", cursive;
$font-cinzel: "Cinzel", serif;
$fs-default: 18px;
$fs-large: 32px;
$black: #1b1b1b;
$color-1: #cbccff;
$color-2: #9296f0;
$color-3: #5b63b7;
$color-4: #f2ecff;
