@import "variables";

.navbar {
    position: sticky !important;
    top: 0;

    .MuiPaper-root {
        background-color: transparent;
        color: $color-4;
        border: none;
        box-shadow: none;
        &:hover {
            font-size: $fs-default;
            background-color: $color-2;
            cursor: pointer;
            color: $black;
        }
    }

    .MuiStack-root {
        background-color: $black;
    }

    .responsive-menu {
        display: none;
        height: 80px;
        color: $color-4;
        width: "100%";
        position: relative;

        .dropdown-menu {
            display: block;
            position: fixed;
            top: 0px;
            padding: 0 0.5rem;
            height: 100vh;
            width: 100%;
            left: auto;
            right: auto;
            z-index: -1;

            .dropdown {
                padding: 0.5rem;
                border-radius: 0.5rem;

                .MuiPaper-root {
                    padding: 1rem 0.5rem;
                }
            }
        }
    }

    .icon {
        width: 150px;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color: $color-2;
            color: $black;
        }
        .css-i4bv87-MuiSvgIcon-root {
            font-size: $fs-large;
        }

        .menu-close-icon {
            display: none;
        }
    }

    @media screen and (max-width: 899.5px) {
        .standart-menu {
            display: none !important;
        }
        .responsive-menu {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.hide {
    display: none !important;
}
.show {
    display: inline-block !important;
}
